# clang-foarmt 12+
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 120
ReflowComments: false
AlignTrailingComments: true
---
Language: Cpp
Standard: Cpp11 # Cpp17
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
---

