[submodule "external/ms-gsl"]
	path = external/ms-gsl
	url = https://github.com/Microsoft/GSL
	branch = v2.1.0
[submodule "external/latch"]
	path = external/latch
	url = https://github.com/luncliff/latch
[submodule "external/sockets"]
	path = external/sockets
	url = https://github.com/luncliff/ssf
