[submodule "libcxx"]
	path = libcxx
	url = https://github.com/llvm-mirror/libcxx
	branch = release_60
	shallow = true
[submodule "libcxxabi"]
	path = libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi
	branch = release_60
	shallow = true
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm
	branch = release_60
	shallow = true
