version: 2.0.{build}

notifications:
  - provider: Email
    to:
      - luncliff@gmail.com

branches:
  except:
    - docs
    - gh-pages

image:
  - Visual Studio 2019

platform:
  - x86
  # - x64

configuration:
  - Debug
  - Release

cache:
  - c:/tools/vcpkg/archives
  - C:/tools/vcpkg/downloads

environment:
  global:
    INSTALL_PATH: c:/install
    VCPKG_TARGET_TRIPLET: "x86-windows"
    VCPKG_DEFAULT_BINARY_CACHE: c:/tools/vcpkg/archives

install:
  - ps: New-Item -Type Directory -Path $env:VCPKG_DEFAULT_BINARY_CACHE -Force
  # - ps: if($env:PLATFORM -eq "x64"){ $env:VCPKG_TARGET_TRIPLET="x64-windows" }
  # - ps: if($env:PLATFORM -eq "x86"){ $env:VCPKG_TARGET_TRIPLET="x86-windows" }
  - ps: vcpkg install --triplet $env:VCPKG_TARGET_TRIPLET catch2 ms-gsl spdlog

before_build:
  # - ps: if($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Visual Studio 2017"){ $env:GENERATOR="Visual Studio 15 2017" }
  - ps: if($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Visual Studio 2019"){ $env:GENERATOR="Visual Studio 16 2019" }
  - ps: if($env:PLATFORM -eq "x86"){ $env:PLATFORM="Win32" }

build_script:
  - ps: |
      cmake . -G "$env:GENERATOR" -A $env:PLATFORM `
        -DCMAKE_BUILD_TYPE="$env:CONFIGURATION" `
        -DCMAKE_INSTALL_PREFIX="$env:INSTALL_PATH" `
        -DCMAKE_TOOLCHAIN_FILE="C:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET="$env:VCPKG_TARGET_TRIPLET"
  - ps: cmake --build . --config $env:CONFIGURATION --target install

test_script:
  # - ps: if($env:CONFIGURATION -eq "Debug"){   $env:PATH="$env:PATH;c:/tools/vcpkg/installed/$env:VCPKG_TARGET_TRIPLET/debug/bin" }
  # - ps: if($env:CONFIGURATION -eq "Release"){ $env:PATH="$env:PATH;c:/tools/vcpkg/installed/$env:VCPKG_TARGET_TRIPLET/bin" }
  - ps: |
      Push-Location "$env:INSTALL_PATH/bin"
          Get-ChildItem
      Pop-Location
