#
#   https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/
#   https://pandoc.org/demos.html
#   https://github.com/matusnovak/doxybook
#   https://github.com/matusnovak/doxybook2/
#
doxybook
mkdocs
mkdocs-material
